In [1]:
import pandas as pd
import numpy as np

In [2]:
df=pd.read_csv(r'D:\data science\research practice\purchase prediction.csv')

In [3]:
x=df.iloc[:,:-1].values

In [4]:
y=df.iloc[:,-1].values

In [5]:
from sklearn.model_selection import train_test_split

In [6]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.20)

In [7]:
from sklearn.preprocessing import StandardScaler

In [8]:
sc=StandardScaler()

In [9]:
X_train=sc.fit_transform(x_train)

In [10]:
X_test=sc.fit_transform(x_test)

In [11]:
from sklearn.linear_model import LogisticRegression

In [12]:
model=LogisticRegression(random_state=0)

In [13]:
model.fit(x_train,y_train)

LogisticRegression(random_state=0)

In [14]:
age=int(input("enter new customer's age: "))
salary=int(input("enter new customer's salary: "))
new= [[age,salary]]
result= model.predict(sc.transform(new))
print(result)
if result==1:
    print("customer will buy")
else:
    print("customer won't buy")

enter new customer's age: 25
enter new customer's salary: 30000
[1]
customer will buy

In [15]:
y_pred=model.predict(x_test)
result=pd.DataFrame({'actual':y_test.flatten(),'predicted':y_pred.flatten()})

In [16]:
result.head(10)

   actual  predicted
0       1          0
1       1          1
2       1          1
3       0          0

In [17]:
model.score(x_test,y_test)

0.75

In [18]:
from sklearn.ensemble import RandomForestClassifier

In [19]:
model_1 = RandomForestClassifier(random_state=1)

In [20]:
model_1.fit(x_train, y_train)

RandomForestClassifier(random_state=1)

In [21]:
model_1.score(x_test,y_test)

1.0

In [22]:
y_pred=model_1.predict(x_test)
result1=pd.DataFrame({'actual':y_test.flatten(),'predicted':y_pred.flatten()})

In [23]:
result1.head(5)

   actual  predicted
0       1          1
1       1          1
2       1          1
3       0          0

In [24]:
from sklearn.ensemble import GradientBoostingClassifier

In [25]:
model_2=GradientBoostingClassifier(random_state=1)

In [26]:
model_2.fit(x_train, y_train)

GradientBoostingClassifier(random_state=1)

In [37]:
model_2.score(x_test,y_test)

1.0

In [28]:
y_pred=model_2.predict(x_test)
result2=pd.DataFrame({'actual':y_test.flatten(),'predicted':y_pred.flatten()})

In [30]:
result2

   actual  predicted
0       1          1
1       1          1
2       1          1
3       0          0

In [31]:
from sklearn.naive_bayes import MultinomialNB

In [33]:
model_3=MultinomialNB()

In [34]:
model_3.fit(x_train, y_train)

MultinomialNB()

In [36]:
model_3.score(x_test,y_test)

0.25

In [38]:
y_pred=model_3.predict(x_test)
result3=pd.DataFrame({'actual':y_test.flatten(),'predicted':y_pred.flatten()})
result3

   actual  predicted
0       1          0
1       1          0
2       1          0
3       0          0

In [39]:
age=int(input("enter new customer's age: "))
salary=int(input("enter new customer's salary: "))
new= [[age,salary]]
result= model_1.predict(sc.transform(new))
print(result)
if result==1:
    print("customer will buy")
else:
    print("customer won't buy")

enter new customer's age: 20
enter new customer's salary: 20000
[1]
customer will buy