In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
import matplotlib.pyplot as plt
from sklearn.svm import SVR

In [2]:
df=pd.read_csv(r'D:\data science\research practice\beximco_pharma.csv')
df.head(5)

    open   high    low   volume  close
0  197.2  199.0  197.0   214690  198.1
1  202.8  202.8  196.7   496611  197.1
2  197.0  205.0  197.0   839456  200.6
3  195.2  199.0  192.0   556270  197.9
4  197.2  201.0  195.5   578730  196.3

In [3]:
x=df[' open'].values
y=df['close'].values

In [4]:
x=x.reshape(len(x),1)
y=y.reshape(len(y),1)

In [5]:
linear=LinearRegression()
linear.fit(x,y)

LinearRegression()

In [6]:
X=float(input("Enter open price: "))
open_price=[[X]]
predicted_price=linear.predict(open_price)
print(f'Closed price is: {predicted_price}')

Enter open price: 198
Closed price is: [[197.54417114]]

In [7]:
linear.score(x,y)

0.958452516549793

D:\compiler\anaconda\lib\site-packages\sklearn\utils\validation.py:63: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(*args, **kwargs)

SVR()

In [9]:
svr.score(x,y)

0.8320328587506739

In [10]:
corr=df.corr()
corr

             open      high       low    volume     close
 open    1.000000  0.990773  0.986028  0.148212  0.979006
 high    0.990773  1.000000  0.985302  0.191082  0.992144
 low     0.986028  0.985302  1.000000  0.102380  0.989009
 volume  0.148212  0.191082  0.102380  1.000000  0.153110
close    0.979006  0.992144  0.989009  0.153110  1.000000